@mixin list{
    list-style: none;
}
@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-center-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@mixin search_bar{
    padding: 3% ;
    outline: none;
    border-radius: 5px;
    font-size: $normal_font_size;
}
@mixin btn{
    padding: 5px 10px;
}