// COLOR
$main_bgcolor: rgb(8, 32, 50);
$fside_bgcolor: rgb(44, 57, 75);
$sside_bgcolor: rgb(51, 71, 86);
$tside_bgcolor: rgb(255, 76, 41);
$main_color: rgb(255, 255, 255);
$main_color_hover: rgba(255, 255, 255, 0.7);
$normal_font_size: 1rem;
$xlarge_font_size: 1.5rem;
$xxlarge_font_size: 2rem;
$large_font_size: 1.125rem;
$small_font_size: 0.87rem;
$xsmall_font_size: 0.75rem;
$xxsmall_font_size: 0.5rem;
$top_nav_bar_height: 2rem;
$icon_height: 2rem;