// IMPORT
@import "variables";
@import "extend";
@import "mixin";

// MAIN CONTENT
#main{
    margin: 1rem 0;
    background-color: $fside_bgcolor;
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
#nav-item-ava{
    display: flex;
    align-items: center;
}
//INFORMATION
#main-post{
    display: grid;
    grid-column: 3/11;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    .main-post-items:first-child{
        @include list;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        li{
            height: 100%;
        }
        img{
            aspect-ratio: 16/9;
            width: 100%;
            height: 100%;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        .news-items{
            border: 1px solid $main_color;
            border-radius: 5px;
            display: flex;
            gap: 1rem;
            flex-direction: column;
            div{
                padding: 5px;
                h6{
                    font-size: $large_font_size;
                }
                p{
                    font-size: $small_font_size;
                }
            }
            }
        // RESPONSIVE
        @media (max-width: 750px) {
            grid-template-columns: 1fr;
            grid-auto-rows: minmax(30rem,auto-fit);
        }
    }
    .main-post-items:last-child{
        grid-template-rows: 3fr 9fr;
        #main-post-advertise{
            img{
                height: 100%;
                width: 100%;
            }
        }
        #main-post-recent{
            h4{
                font-size: $xxlarge_font_size;
            }
            h6{
                font-size: $large_font_size;
            }
            p{
                font-size: $small_font_size;
            }
            ul,ol{
                @include list;
            }
            li, iframe{
                margin:0.5rem 0;
            }
            ol{
                font-style: italic;
                text-decoration: underline;
            }
            img{
                width: 100%;
            }
        }
        
    }
     // RESPONSIVE
    @media (max-width: 750px) {
        grid-template-columns: 1fr;
        #main-post-recent{
            grid-template-rows: 3fr 3fr;
        }
    }
}

//TOGGLE BUTTON
#toggle-btn{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-image: url(/assets/imgs/messenger_icon.png);
    background-position: center;
    background-size: contain ;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}
#toggle-btn:hover{
    cursor: pointer;
}
#messageBox{
    padding: 10px;
    position: fixed;
    bottom: 5rem;
    right: 3rem;
    background-color: white ;
    display: flex;
    gap: 5%;
    flex-direction: column;
    border-radius:10px;
    color: black;
    min-height: 10rem;
    button{
        @include btn;
    }
    #top-part{
        display:flex;
        justify-content: space-between;
        img{
            height: 1.5rem;
            width:1.5rem;
            border-radius: 50%;
        }
        button{
            border: none;
            background-color: transparent;
        }
    }
    #bottom_part{
        display: flex;
        flex-direction: column;
        gap: 5rem;
        width: 100%;
        #chatbox-chat{
            height: 100%;
            color: black;
        }
        #chat_btn{
            border-radius: 10px;
            background-color: rgb(33,150,243);
            color: white;
            border:none;
        }
    }
    
}